@{
    ViewData["Title"] = "首頁";
}

<div class="w-full px-4 sm:px-6 lg:px-8">
    <div class="max-w-[1400px] mx-auto">
        @{
            ViewData["NotImplementedTitle"] = "首頁";
            ViewData["NotImplementedDescription"] = "此頁面目前為占位頁，功能規劃中。";
            ViewData["NotImplementedIcon"] = "bi-box";
        }
        <partial name="~/Views/Shared/Partials/_NotImplemented.cshtml" />
    </div>
    
</div>
