@using CanLove_Backend.Domain.Case.Models.Basic
@{
    var caseInfo = ViewBag.CaseInfo as Case;
}

@if (caseInfo != null)
{
    <span class="text-sm text-slate-700 dark:text-slate-300 ml-4">
        目前個案：@caseInfo.Name    <span class="text-slate-600 dark:text-slate-400 font-normal">編號：</span><code class="text-slate-700 dark:text-slate-300 font-mono">@caseInfo.CaseId</code>
    </span>
}

